@{
    ViewData["Title"] = "Medical Policy";
}
<h1>@ViewData["Title"]</h1>

<p>   
   <b> Políticas Médicas </b>
    En nuestra institución, nos comprometemos a ofrecer atención médica de calidad basada en principios éticos y en el respeto a los derechos de los pacientes. Las políticas médicas son el marco regulador que guía la atención de salud brindada por nuestro equipo, asegurando que cada paciente reciba un trato digno, respetuoso y de acuerdo con los más altos estándares profesionales.

    Confidencialidad y Privacidad
    La protección de la privacidad y confidencialidad de nuestros pacientes es una prioridad absoluta. Todos los datos personales y médicos están resguardados bajo estrictas medidas de seguridad para garantizar que la información sensible se mantenga protegida. Solo el personal autorizado tiene acceso a esta información y únicamente para fines estrictamente relacionados con la atención médica.

    Consentimiento Informado
    Creemos en la importancia del consentimiento informado, por lo que los pacientes tienen el derecho de conocer toda la información relevante sobre su diagnóstico, tratamiento y alternativas disponibles. Antes de proceder con cualquier intervención o tratamiento, se ofrece una explicación detallada y se resuelven todas las dudas, asegurando que el paciente o su representante legal tomen decisiones con pleno conocimiento.

    Atención de Calidad
    Nuestro compromiso con la calidad se refleja en la implementación de mejores prácticas clínicas y un enfoque centrado en el paciente. Trabajamos continuamente en la evaluación y mejora de nuestros procesos asistenciales para asegurar que cada paciente reciba una atención segura, efectiva y compasiva. Las auditorías internas y la capacitación constante de nuestro personal son pilares clave para mantener altos estándares de calidad.

    Igualdad y No Discriminación
    En nuestra institución, la atención médica se brinda sin distinción de raza, religión, género, orientación sexual, condición socioeconómica o cualquier otro aspecto que pudiera generar discriminación. Nos esforzamos por ofrecer un entorno inclusivo y respetuoso, donde todos los pacientes y sus familias se sientan bienvenidos y valorados.

    Seguridad del Paciente
    La seguridad del paciente es un principio fundamental de nuestra atención médica. Implementamos protocolos de seguridad que incluyen desde la verificación de procedimientos hasta la prevención de infecciones, con el objetivo de minimizar riesgos y garantizar el bienestar de nuestros pacientes durante su estancia en nuestra institución.

    Revisión y Actualización de Políticas
    Con el fin de adaptarnos a los avances científicos y las nuevas normativas del sector salud, nuestras políticas médicas son revisadas y actualizadas de manera periódica. Esto asegura que nuestros procedimientos estén alineados con los desarrollos más recientes y que continuemos ofreciendo una atención basada en la evidencia médica más actualizada.
</p>
